// main: ../style.less

.header {
    position: absolute;
    z-index: 2;
    color: @white;
    border-bottom:  rgba(188, 188, 188, 0.45) .7px solid;
    width: 100%;
    
}

.header__inner {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    max-width: 1270px;
    height: 90px;
}
