// main: ../style.less

.statistic {
    background-color: #292931;
}
.container-statistic {
    width: 80%;
}
.stat-item {
    text-align: center;
}
.stat {
    color: @white;
    display: flex;
    flex-direction: column;
    padding: 4rem 0 4rem 0;
}
.statistic-content {
    display: flex;
    justify-content: space-between;
}
.stat-digit {
    font-size: 5rem;
 
}
.stat-character {
    font-size: 3rem;
    vertical-align: top;
    color: #eaa212;
}
.stat-description {
    font-size: .8rem;
}