html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 15px;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


header {
    width: 90vw;
    height: 15vh;
    border: 2px solid #1a601a;
    border-radius: 0 0 10px 10px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2rem;
}

header .header_content {
    padding-top: 2.6rem;
    text-transform: uppercase;
}

.nav {
    margin-bottom: 2rem;
}

#sidebar-menu {
	position: fixed;
	top: 25vh;
	right: 0;
	padding: 10px;
	background: #323A45;
    opacity: .9;
	color: #FFF;
	border-radius: 8px 0 0 8px;
    width: 10%;
}
#sidebar-menu li {
	position: relative;
	cursor: pointer;
}
#sidebar-menu li i {
	width: 27px;
	height: 27px;
	line-height: 27px;
	border-radius: 4px;
	background: #3CB7E7;
	text-align: center;
}

#sidebar-menu li+li {margin-top: 4px;}
#sidebar-menu b {
	display: none;
	position: absolute;
	left: 27px;
	top: 0;
	height: 27px;
	width: 16px;
	line-height: 27px;
	background: transparent;
	color: #323A45;
	text-align: right;
}

#sidebar-menu li > ul {
	display: none;
	position: absolute;
	top: -10px;
	left: 42px;
	width: 120px;
	padding: 10px;
	background: #323A45;
	border-radius: 8px;
}
#sidebar-menu li:hover b,
#sidebar-menu li:hover ul {display: block;}
#sidebar-menu li a {
	display: block;
	padding: 4px 8px;
	border-radius: 4px;
	color: #FFF;
    transition: all .2s;
}
#sidebar-menu li a:hover {
	display: block;
	background: #3CB7E7;
}

.main {
    width: 70%;
    margin: 0 auto 2rem;
}

.list {
    position: inherit;
    display: block;
    list-style: decimal;
    padding-left: 2rem;
}

footer {
    width: 90vw;
    height: 15vh;
    border: 2px solid #1a601a;
    border-radius: 10px 10px 0 0;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2rem;
}

footer .footer_content {
    padding-top: 2.6rem;
    text-transform: uppercase;
}






















