body {
    font-size: 15px;
}

table { 
    width: 100%; 
    border-spacing: .5rem 0; 
    text-align: center;
    margin-bottom: 1rem;
   }

/* td */
td {
    border: 1px solid #a52a2a; 
   }

.first__td {
    padding: 2rem;
}

.second__td {
    padding: 4rem;
}

.third__td {
    padding: 5rem;
}

.fourth__td {
    padding: 6rem;
}

/* tr */
.first__tr {
    background: #e87d13;
}

.second__tr {
    background: #d4d42e;
}

.third__tr {
    background: #2c2cc1;
}

.fourth__tr {
    background: #a37f7f;
}

