html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 15px;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* header */
header {
    width: 100vw;
    height: 10vh;
    background: #0d0dce;
    margin-bottom: 2rem;
}

header:hover {
    background: #7272e3;
}

img {
    position: absolute;
    height: 8vh;
    width: auto;
    top: 1vh;
    z-index: 1;
}

.first_picture {
    left: 0;
}    

.second_picture {
    right: 0;
}

/* main */
.main {
}

.columnOne {
    background-color: #cace62;
    opacity: .6;
    position: absolute;
    left: 15%;
    width: 30vw;
}

.columnOne:before {
    content: "";
    display: block;
    width: 3px;
    height: 8.5rem;

    background-color: #ea2828;

    position: absolute;
    top: 0;
    left: -.5rem;
    z-index: 1;
}

.columnTwo {
    background-color: #cace62;
    opacity: .6;
    position: absolute;
    right: 15%;
    width: 30vw;
}

.columnTwo:after {
    content: "";
    display: block;
    width: 3px;
    height: 8.5rem;

    background-color: #ea2828;

    position: absolute;
    top: 0;
    right: -.5rem;
    z-index: 1;
}

footer {
    position: absolute;
    margin-top: 2rem;
    width: 90vw;
    height: 15vh;
    background: #0e26af;
    color: black;
    opacity: .5;
    margin: 0 auto;
    text-align: center;
    bottom: 48%;
    left: 5%;
}

footer:hover {
    opacity: 1;
    color: white;
}

.footer_text {
    padding-top: 2%;
}












